Language: Cpp
IndentWidth: 4
AccessModifierOffset: -4
ColumnLimit: 200

ReferenceAlignment: Left
PointerAlignment: Left
NamespaceIndentation: All
BreakBeforeBraces: Allman
KeepEmptyLinesAtEOF: true
MaxEmptyLinesToKeep: 1

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlinesLeft: true
AlignOperands: true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: true

SeparateDefinitionBlocks: Always
