[submodule "Vendors/NearbyProtocols"]
	path = Vendors/NearbyProtocols
	url = https://github.com/PatchByte/NearbyProtocols.git
[submodule "Vendors/glfw"]
	path = Vendors/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Vendors/Ash"]
	path = Vendors/Ash
	url = https://github.com/PatchByte/Ash.git
[submodule "Vendors/imgui"]
	path = Vendors/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Vendors/fmt"]
	path = Vendors/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "Vendors/cppwinrt-cmake"]
	path = Vendors/cppwinrt-cmake
	url = https://github.com/cpp-openapi/cppwinrt-cmake
[submodule "Vendors/cpp-httplib"]
	path = Vendors/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "Vendors/json"]
	path = Vendors/json
	url = https://github.com/nlohmann/json.git
[submodule "Vendors/nanopb"]
	path = Vendors/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "Vendors/nanopb-extension"]
	path = Vendors/nanopb-extension
	url = https://github.com/PatchByte/nanopb-extension.git
